body{
    background-color: yellow;
}
#container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
header{
    padding: 20px;
    width: 100%;
    background-color: white;
    box-shadow: 10px 10px 7px grey;
}
header img{
    width: 100%;
}
nav{
    margin-top: 10px;
    width: 100%;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    border-radius: 10px;
    margin-top: 15px;
    text-align: center;
    background-color: green;
    padding: 20px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}
nav ul li a:hover{
    color: yellow;
}
nav ul li a{
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: ;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    width: 100%;
    background-color: white;
    box-shadow: 12px 12px 12px grey;
    padding: 20px;
}
footer{
    color: darkblue;
    font-size: small;
    text-align: center;
}
main section{
    overflow: auto;
}
main>p{
    text-align: justify;
}
main section>img{
    width: 20%;
    float: left;
}
main section>.info{
    width: 68%;
    float: left;
    margin-left: 10px;
}
