header>img{
    width: 100%;
}
/* best seller */
.seller{
    width: 100%;
}
.seller h2{
    text-align: center;
}
.product{
    width: 20%;
    background-color: gainsboro;
    padding: 10px;
    position: relative; 
    margin: 12px;
    float: left;
}
.product>img{
    width: 100%;
}
.product p{
    margin: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: grey;
    opacity: 50%;
    color: white;
}
@media screen and (min-width: ;768px){
    .product{
        width: ;
    }
}